html {
    height: 100%;
}

/*supports sticky footer, body content stretches to at least full height of screen, without triggering overflow with shorter content*/
/*flex-direction:column keeps normal flow*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #FFFFFF;
    color: #616161;
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31.25rem;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.875rem;
    padding: 2rem;
    /* To see the outline of the form */
    background-color: #F1F2F6;
    border-radius: 1em;
    text-align: center;
}

.title_list_options {
    /* displays section title and user options above table in item_list_view.html*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.title_list_options button {
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: 15rem;
}

.placeholder_content {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-style: italic;
}

/*title_list_view_html*/
table,
th,
td {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

tr th {
    border: none;
}

tr td {
    border: 1px solid black;
}

.edit_button_col {
    width: 8rem;
}

.stage_col {
    width: 4.2rem;
}

.date_col {
    width: 7rem;
}

.delete_col {
    width: 2.62rem;
}

table {
    width: 98%;
}

table.button_holder tr td:nth-child(1) {
    border-right: none;
}

table.button_holder tr td:nth-child(2) {
    text-align: left;
    padding-left: 1rem;
    border-left: none;
}

/*allows for border-collapse: collapse line 51 yet still create space between table rows*/
table.button_holder {
    border-collapse: separate;
    border-spacing: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h3 {
    color: #000000;
    font-weight: bold;
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
}

p {
    color: #BD7374;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

label {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    color: black;
}

/* To space out the form boxes evenly*/
form li+li {
    margin-top: 1em;
    text-align: center;
}

/* Handles the boxes the user types in*/
input,
textarea {
    /* To make sure that all text fields have the same font settings & to overwrite default textarea monospace font */
    font: 1em sans-serif;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    /* To give the same size to all text fields */
    width: 18.75rem;
    box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #F1F2F6;

}

textarea {
    /* To properly align multiline text fields with their labels*/
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;
}

.button_holder button,
.container button {
    list-style: none;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: 15rem;
}

table.button_holder button {
    width: 8rem;
}

#login_btn,
#create_account_btn {
    height: 4rem;
    background-color: #BD7374;
    border-color: #BD7374;
}

#new_act_btn,
#goto_login_btn {
    background-color: #616161;
    padding: 0.5rem;
}

#search_btn {
    width: 7rem;
    background-color: #616161;
    border-radius: 0.75rem;
}

#create_new_btn {
    background-color: #BD7374;
}

#create_new_item_btn,
#view_edit_list_btn {
    height: 6rem;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-weight: bold;
    border-radius: 0.75rem;
    width: 15rem;
}

.invisible {
    visibility: hidden;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*flexbox applied to body element fills any space between footer and closest sibling, flex-direction: column creates a sticky footer*/
    margin-top: auto;
    height: 4rem;
    background-color: #ABAEB6;
    color: #616161;
    font-family: 'Lexend Deca', Helvetica, Arial, Lucida, sans-serif;
}